body {
  background: #ecf0f1;
  font-family: "Fira Code", monospace;
  font-size: 14px !important;
  color: #000;
  overflow-y: hidden;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  color: #dcdde1;
  padding: 12px;
  display: inline-block;
}

.data {
  height: 400px;
  width: 800px;
  background-color: #130f40;
  border-radius: 20px;
  box-shadow: none;
  padding: 35px;
  text-align: left;
  box-shadow: rgba(44, 44, 84, 1) 0px 20px 30px -10px;
}
p::before {
  content: "❯ ";
  font-weight: bold;
}
p {
  line-height: 7px;
  font-family: "Fira Code", monospace;
}

pre code {
  font-family: "Fira Code", monospace;
}

.hljs-punctuation {
  color: #7ed6df;
}

.hljs-attr {
  color: #f1c40f;
}
.hljs-string {
  color: inherit;
}

.active {
  color: rgba(120, 224, 143, 1);
}
.inactive {
  color: rgba(235, 77, 75, 1);
}
.node-release {
  color: rgba(186, 220, 88, 1);
}
.node-version {
  color: rgba(255, 250, 101, 1);
}
